# =========================
# Dependencias
# =========================
node_modules/

# =========================
# Builds
# =========================
dist/
build/
coverage/

# TypeScript
*.tsbuildinfo
.browser-profile/
# =========================
# Archivos generados
# =========================
output/
videos/
artifacts/
screenshots/

# Videos
*.mp4
*.webm
*.mov

# Imágenes generadas
*.png
*.jpg
*.jpeg

# =========================
# Variables de entorno
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Archivos temporales
# =========================
tmp/
temp/
.cache/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# JetBrains
# =========================
.idea/

# =========================
# Sistema Operativo
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Playwright
# =========================
playwright-report/
test-results/
.playwright-mcp/
.browser-profile/

# =========================
# FFmpeg temporales (MPEG transport streams)
# =========================
*.mkv

# =========================
# AWS
# =========================
.aws/